.container 
  .hero-unit
    .hero-unit2
      %center
        %h2 Gestión de asignaturas
      %br
      %h4 Listado:
      #accordion2.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
              Primero
          #collapseOne.accordion-body.collapse
            .accordion-inner
              %table.table.table-hover
                %tbody
                  - Subject.all.each do|a|
                    - if a.course == 1
                      %tr
                        %td
                          #{a.subjectname}
                        %td
                          %a.btn.btn-danger{:href => "/admin/subjects/delete_subject/#{a.id}"} Borrar
                        %td  
                          %a.btn.btn-warning{:href => "/admin/subjects/edit_subject/#{a.id}"} Editar  
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
              Segundo
          #collapseTwo.accordion-body.collapse
            .accordion-inner
              %table.table.table-hover
                %tbody
                  - Subject.all.each do|a|
                    - if a.course == 2
                      %tr
                        %tr
                        %td
                          #{a.subjectname}
                        %td
                          %a.btn.btn-danger{:href => "/admin/subjects/delete_subject/#{a.id}"} Borrar
                        %td  
                          %a.btn.btn-warning{:href => "/admin/subjects/edit_subject/#{a.id}"} Editar
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
              Tercero
          #collapseThree.accordion-body.collapse
            .accordion-inner
              %table.table.table-hover
                %tbody
                  - Subject.all.each do|a|
                    - if a.course == 3
                      %tr
                        %td
                          #{a.subjectname}
                        %td
                          %a.btn.btn-danger{:href => "/admin/subjects/delete_subject/#{a.id}"} Borrar
                        %td  
                          %a.btn.btn-warning{:href => "/admin/subjects/edit_subject/#{a.id}"} Editar
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
              Cuarto
          #collapseFour.accordion-body.collapse
            .accordion-inner
              %table.table.table-hover
                %tbody
                  - Subject.all.each do|a|
                    - if a.course == 4
                      %tr
                        %td
                          #{a.subjectname}
                        %td
                          %a.btn.btn-danger{:href => "/admin/subjects/delete_subject/#{a.id}"} Borrar
                        %td  
                          %a.btn.btn-warning{:href => "/admin/subjects/edit_subject/#{a.id}"} Editar
      %br
      %br
      %center
        %a.btn.btn-success{:href => "/admin/subjects/add_subject"}Añadir asignatura
        %a.btn.btn-danger{:href => "/bbdd/destroy_subjects"} Borrar todas
      %p
      %center
        %a.btn.btn-warning{:href => "/admin/panel"} Regresar
        %a.btn.btn-info{:href => "/"} Salir
        
