- url = ENV['URL']||"http://localhost:4567/"
%div
  %div
    %a{:href => "#{url}", :target => "_blank"}
      %img{:alt => "ir a Página principal de PAU", "margin-right" => "20px", :style => "vertical-align: middle;", :height => "50px", :width => "50px", :src => "http://web.educastur.princast.es/conc/patronatosanjose/Material/Libros/libros.gif"} 
    %span{:style => "font-size:40px;"} Plataforma Académica Universitaria
  %div{"padding-left" => "30px"}
    %h2 Bienvenido a PAU!
    %h3 Hola #{us.name}, gracias por registrarte. Puedes usar estos datos para iniciar sesión:
    %ul
      %li  Email: #{us.email}
      %li  Contraseña: #{us.password}
    %br
    Haga click en el siguiente enlace para activar su cuenta, o cópialo y pégalo en la barra de direcciones: 
    %br
    %br
    %a{:href => "#{ url + "activeaccount?email=#{us.email}&activation_n=#{us.activation_n}"}", :target => "_blank"} #{ url + "activeaccount?email=#{us.email}&activation_n=#{us.activation_n}"}
  %br
  %div
    Copyright &copy; 2012 
    %a{:href => "#{url}", :target => "_blank"} #{url}
