%body{:onload => "valida_upload(#{opc});"}
.hero-unit
  .hero-unit2
    .row-fluid
      %h3 #{sub.subjectname} (#{sub.course}º Curso)
      %h4 Descripción: #{Haml::Engine.new(sub.description.gsub(10.chr, '<br/>')).render}
      %span
        %a.btn.btn-success{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Compartir archivo
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Subir archivo
        .modal-body
          = haml :upload, :locals => { :id => "#{sub.id}"} 
    %h4 Archivos
    .pagination-holder.clearfix
      %ul{:id => "items", :style => "list-style-type: none;"}   
        - sub.filess.each do |aux|
          %li{:style => "margin-left: -25px;"}
            .box
              .file-icon
                - if extension(aux.filename) =~ /pdf/
                  %img.image{:src => "/img/icons/pdf.png", :alt => "documento pdf", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /doc|docx|odt/
                  %img.image{:src => "/img/icons/doc.png", :alt => "documento word o similar", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /ppt|odp|pptx/
                  %img.image{:src => "/img/icons/ppt.png", :alt => "documento powerpoint o similar", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /xls|ods/
                  %img.image{:src => "/img/icons/excel.png", :alt => "documento exel o similar", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /mp3|mid|midi|wav|wma|cda|ogg|ogm|aac|ac3|flac/
                  %img.image{:src => "/img/icons/audio.png", :alt => "archivo de audio", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /3gp|3g2|asf|mov|avi|vob|flv|as|mpg|mp4|rm|f4v|swf|srt|wmv|bik|mod|mk|divx|h26.*/
                  %img.image{:src => "/img/icons/video.png", :alt => "archivo de video", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /bmp|dds|gif|jpg|png|psd.*|tga|thm|tif|tiff|yuv|abm|afx|jpeg/
                  %img.image{:src => "/img/icons/image.png", :alt => "imagen", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /calendar|css|csv|dns|example|html|rtf|rtx|vcard|vnd|xml|js|sgml|cpp|c|h|hpp|html|pas|java|php|h.*/
                  %img.image{:src => "/img/icons/code.png", :alt => "fichero de codigo", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /txt/
                  %img.image{:src => "/img/icons/txt.png", :alt => "archivo de texto", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /rar/
                  %img.image{:src => "/img/icons/rar.png", :alt => "archivador", :style => "width: 120px; height: auto;"}
                - elsif extension(aux.filename) =~ /zip|gz|tar/
                  %img.image{:src => "/img/icons/pdf.png", :alt => "carpeta comprimida", :style => "width: 120px; height: auto;"}
                - else
                  %img.image{:src => "/img/icons/default.png", :alt => "formato desconocido", :style => "width: 120px; height: auto;"}
              .info
                %p.name
                  %a{:href => "/file/#{sub.id}/#{aux.id}"} 
                    =aux.filename 
                %p.updater
                  Subido por: #{aux.uploader}
                %p.date
                  El #{aux.date}
                %p.size
                  Tamaño: #{hrsize(aux.size.to_i,2)} 
                - calification = 0
                - aux.votes.each do |v|
                  - calification += v.value
                - if aux.votes.size > 0
                  - calification = calification / aux.votes.size
                - if calification > 0.5
                  %span
                    %img{:src => "/img/star_full.png", :alt => "star_full", :width => "25px;", :height => "25px"}
                - else
                  %span  
                    %img{:src => "/img/star_empty.png", :alt => "star_empty", :width => "25px;", :height => "25px"}
                - if calification > 1.5
                  %span
                    %img{:src => "/img/star_full.png", :alt => "star_full", :width => "25px;", :height => "25px"}
                - else
                  %span  
                    %img{:src => "/img/star_empty.png", :alt => "star_empty", :width => "25px;", :height => "25px"}
                - if calification > 2.5
                  %span
                    %img{:src => "/img/star_full.png", :alt => "star_full", :width => "25px;", :height => "25px"}
                - else
                  %span  
                    %img{:src => "/img/star_empty.png", :alt => "star_empty", :width => "25px;", :height => "25px"}
                - if calification > 3.5
                  %span
                    %img{:src => "/img/star_full.png", :alt => "star_full", :width => "25px;", :height => "25px"}
                - else
                  %span  
                    %img{:src => "/img/star_empty.png", :alt => "star_empty", :width => "25px;", :height => "25px"}
                - if calification > 4.5
                  %span
                    %img{:src => "/img/star_full.png", :alt => "star_full", :width => "25px;", :height => "25px"}
                - else
                  %span  
                    %img{:src => "/img/star_empty.png", :alt => "star_empty", :width => "25px;", :height => "25px"}
              .actions
                %a.btn.btn-info{:href => "/download/#{aux.id}"} Descargar
                %br
                %br
                %a.btn.btn-warning{:href => "/file/#{sub.id}/#{aux.id}"} Ver online
    %h3 Comentarios
    %br
    %table.table.table-striped.table-hover
      %tbody
        - sub.comments.each do |aux|
          %tr
            %td        
              .nil{:style => "font-size: 16px;"}  
                %img.img-rounded.profile{:src => "#{users.get(aux.userid).image}", :alt => "imagen de perfil de #{users.get(aux.userid).username}", :style => "width:50px; height: auto;"}
                &nbsp;&nbsp;&nbsp;
                %a{:href => "/user/#{users.get(aux.userid).id}"} #{users.get(aux.userid).username}
                &nbsp;&nbsp;&nbsp;
                #{aux.time.strftime("%m/%d/%Y")}
                %br
                .nil{:style => "margin-left: 65px;"} 
                  #{Haml::Engine.new(aux.text.gsub(10.chr, '<br/>')).render}
                %br
    %form(action="/subjects/#{sub.id}" method="POST")
      %textarea.span12{:placeholder=>"Escribir comentario...", :type=>"text-area", :name=>"text", :class => "sms", :rows => "4", :id => "sms", :onChange=>"checkEnableSend();", :onKeyUp=>"checkEnableSend();"}
      %span
        %button.btn.btn-primary{:class => "confirm", :type => "submit", :disabled => "disabled", :id => "confirm", :style => "margin-left: 10px;"} Comentar
    %a.btn.btn-warning{:href => "/profile"} Regresar