.hero-unit
  .row-fluid
    .span3
      .hero-unit2
        %center
          %h3 #{us.name}   
          %table
            %tr
              %td
                %img.img-rounded.profile{:src => "#{us.image}", :alt => "imagen de perfil"}
        %br
        %p
        %b Nombre:
        #{us.name} #{us.surnames}
        %p
        %b Email: 
        #{us.email}
        %p
        %b ID: 
        #{us.id}
        %p
        %b Archivos compartidos:
        Poner aqui un contador
        %p
        %b Sobre mi:
        = Haml::Engine.new(us.comment.gsub(10.chr, '<br/>')).render
        %p
        %br
        %center
          %span
            %a.btn.btn-info{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Enviar Mensaje
        #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ร
            %h3#myModalLabel Enviar Mensaje
          .modal-body
            = haml :send_message, :locals => { :id => us.id}  
    .span9
      .hero-unit2
        %center
          %h3 Mis asignaturas

        #accordion2.accordion
          - us.subjects.each do |a|
            .accordion-group
              .accordion-heading{:style => "background-color:#222222"}
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "##{a.id}", :style => "color: #ffffff"}
                  #{a.subjectname}
              .accordion-body.collapse{:id => "#{a.id}"}
                .accordion-inner
                  %table.table.table-hover
                    %tbody
                      %tr
                        %td
                          %ul
                            %li 
                              %b Curso: 
                              #{a.course}ยบ
                            %li 
                              %b Descripcion: 
                              #{a.description}
                        %td
                        %td{:style => "text-align: right"}
                          %a.btn.btn-inverse{:href => "/subjects/#{a.id}"}
                            Acceder
                            