<!DOCTYPE html>
<html lang="es">
<head>
	<title>nodeTube - express yourself</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico" />
	<%- css('modern') %>
	<%- css('modern-responsive') %>
	<%- css('application') %>
	<%- css('video-js') %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<%- js('video') %>
	<%- js('application') %>
</head>
<body class="bg-color-blue">
	<header class="page">
		<div class="nav-bar bg-color-blueDark">
			<div class="nav-bar-inner padding20">
				<span class="pull-menu"></span>
				<a href="/">
					<span id="logo" class="element brand">
						nodeTube
						<small> express yourself</small>
					</span>
				</a>
			</div>
		</div>
	</header>
	<article class="grid padded">
		<section class="row">
			<div id="player">
				<video id="video_box" class="video-js vjs-default-skin" controls
						preload="auto" autoplay data-setup="{}">
						<source src="/video/1" type='video/mp4'/>
				</video>			
			</div>				
			<div class="videos span5">
				<% videos.forEach(function(video) { %>
					<div class="tile image" data-url="video/<%=video['id']%>" data-mime="<%=video['mime']%>">
						<div class="tile-content">
							<img src="/posters/<%=video['poster']%>">
						</div>
						<div class="brand bg-color-purple">
							<p class="text"><%=video['title']%></p>
						</div>
					</div>
				<% }); %>							
			</div>
		</section>
	</article>
	<footer>
		<div class="nav-bar bg-color-blueDark">
			<div class="nav-bar-inner padding10">
				<span class="element">
					<time>2012</time> <span>Sistemas y tecnologías web</span> <span>- Víctor Mora Afonso</span>
				</span>
			</div>
		</div>
	</footer>	
</body>
</html>